@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model IEnumerable<PizzaShop.DAL.ViewModel.RoleViewModel>

@* <h1>Hello</h1> *@
<div class="container-fluid " id="role">
    <div class="row ">
        <div class="col" style="margin: 100px;">
            <div class="p-4 bg-white shadow-lg rounded">
                <div class="table-responsive bg-white m-4 ">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th scope="col">Role</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var role in Model)
                            {
                                <tr>
                                    <td>@role.RoleName</td>
                                    <td><a asp-action="PermissionView" asp-controller="RoleAndPermission"
                                            asp-route-roleId="@role.RoleId" class="text-reset"><i class="bi bi-pen"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>