<div class="navbar">
    <div class="container-fluid">
        <div class="navbar-menu row w-100 d-flex justify-content-between">

            <div class="header text-end">
                <div class="sidebar-mobile">
                    <a class="text-decoration-none" alt="" data-bs-toggle="offcanvas" href="#offcanvasExample"
                        role="button" aria-controls="offcanvasExample">
                        <img src="~/images/logos/pizzashop_logo.png" alt="" class="shop-logo-img-res">
                    </a>
                </div>

                <div class="btn-group mb-2 dropstart">
                    <a href="#" alt="" class="profile-img dropdown-toggle" role="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/Default_pfp.svg.png" alt="" class="profile-img">
                    </a>
                    <ul class="dropdown-menu profile-dropdown " aria-labelledby="dropdownMenuButton1">
                        <li>
                            <div class="dropdown-item">
                                <div class="d-flex align-items-center ">
                                    <img src="~/images/Default_pfp.svg.png" alt="" class="profile-img">
                                    <span class="dropdown-item-title ms-3 user-name">@ViewData["UserEmail"]</span>
                                </div>
                            </div>
                        </li>
                        <div class="divider pb-1 mx-2 bg-secondary"></div>
                        <li><a class="dropdown-item" asp-action="GetUserProfile" asp-controller="AdminDash"><i
                                    class="bi bi-person-circle"></i><span class="dropdown-item-title ms-3">My
                                    Profile</span></a></li>
                        <li><a class="dropdown-item" asp-action="ChangePassword" asp-controller="AdminDash"><i
                                    class="bi bi-arrow-clockwise"></i><span class="dropdown-item-title ms-3">Change
                                    Password</span></a></li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i
                                    class="bi bi-box-arrow-right"></i><span
                                    class="dropdown-item-title ms-3">Logout</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Logout Modal -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center" style="height: 200px; width: 500px;">
                <div><img src="~/images/toppng.com-warning-icon-2400x2400.png" style="height: 60px;"></div>
                <div class="mt-3">Are you sure you want to logout?</div>
                <div class="mt-3">
                    <button type="button" class="btn gloabal-bg-color me-3" id="loginbtn"
                        style="width: 15%; color: white;">YES</button>
                    <button type="button" class="btn btn-primary gloabal-color" data-bs-dismiss="modal"
                        style="width: 15%; background-color: white;">NO</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.getElementById("loginbtn").addEventListener("click", function () {
        console.log("Logout")
        window.location.href = "@Url.Action("Logout", "Auth")";
    });
</script>