@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model PizzaShop.DAL.ViewModel.ChangePassword

<div class="container-fluid m-0">
    <div class="ms-4 pt-3">
        <h1 class="fw-bold gloabal-color">Change Password</h1>
    </div>
    <form method="post" asp-controller="AdminDash" asp-action="UpdatePassword">
        <div class="container-fluid mt-4 change-password-body">
            <div class="row mt-4">
                <div class="col">
                    <span class="text-secondary">Enter a new Password to update your account Credentials</span>
                </div>
            </div>
            <div class="row mt-4 w-100">
                <div class="col-md-12 col-lg-10 d-flex align-items-center position-relative">
                    <input type="password" class="form-control" id="password1" placeholder="Current Password"
                        asp-for="CurrentPassword">
                    <i class="bi bi-eye-slash position-absolute h4 " id="eye1" style="right: 20px; top: 5px;"
                        onclick="toggleCurrentPassword()"></i>
                </div>
                <div>
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-4 w-100">
                <div class="col-md-12 col-lg-10 d-flex align-items-center position-relative">
                    <input type="password" class="form-control" id="password2" placeholder="New Password"
                        asp-for="NewPassword">
                    <i class="bi bi-eye-slash position-absolute h4 " id="eye2" style="right: 20px; top: 5px;"
                        onclick="toggleNewPassword()"></i>
                </div>
                <div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-4 w-100">
                <div class="col-md-12 col-lg-10 d-flex align-items-center position-relative">
                    <input type="password" class="form-control" id="password3" placeholder="Confirm Password"
                        asp-for="ConfirmPassword">
                    <i class="bi bi-eye-slash position-absolute h4 " id="eye3" style="right: 20px; top: 5px;"
                        onclick="toggleConfirmPassword()"></i>
                </div>
                <div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-3 mb-3 text-start">
                <div class="col">
                    <button class="btn text-white gloabal-bg-color" type="submit">Submit</button>
                    <button class="btn gloabal-color ms-2"
                        style="background-color: white; border-color: #0565A0;">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script>

        //Password Eye Icon Toggle
        function toggleCurrentPassword() {
            var x = document.getElementById("password1");
            var eye = document.getElementById("eye1");
            if (x.type === "password") {
                x.type = "text";
                eye.classList.remove("bi-eye-slash");
                eye.classList.add("bi-eye");
                console.log("Password show");

            } else {
                x.type = "password";
                eye.classList.remove("bi-eye");
                eye.classList.add("bi-eye-slash");
                console.log("Password hide");

            }
        }
        function toggleNewPassword() {
            var x = document.getElementById("password2");
            var eye = document.getElementById("eye2");
            if (x.type === "password") {
                x.type = "text";
                eye.classList.remove("bi-eye-slash");
                eye.classList.add("bi-eye");
                console.log("Password show");

            } else {
                x.type = "password";
                eye.classList.remove("bi-eye");
                eye.classList.add("bi-eye-slash");
                console.log("Password hide");

            }
        }
        function toggleConfirmPassword() {
            var x = document.getElementById("password3");
            var eye = document.getElementById("eye3");
            if (x.type === "password") {
                x.type = "text";
                eye.classList.remove("bi-eye-slash");
                eye.classList.add("bi-eye");
                console.log("Password show");

            } else {
                x.type = "password";
                eye.classList.remove("bi-eye");
                eye.classList.add("bi-eye-slash");
                console.log("Password hide");

            }
        }

    </script>

}